<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }} min-h-screen antialiased bg-neutral-50 dark:bg-neutral-900 prose prose-neutral mx-auto lg:prose-lg dark:prose-invert px-4 sm:px-6 md:px-8 flex flex-col">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <main class="flex-grow">
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
