---
layout: default
---

{% unless data.pagination_info == empty %}
  {% assign pagination_text = '(Page ' | append: data.pagination_info.curr_page | append: ')' %}
  <h1>{{ data.title | remove: pagination_text }}</h1>
{% else %}
  <h1>{{ data.title }}</h1>
{% endunless %}

<article class="">
  {{ content }}
</article>