/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables.css";

.stroke-current{
  stroke: currentColor
}

.text-\[var\(--tw-prose-body\)\]{
  color: var(--tw-prose-body)
}

[aria-hidden="true"] {
  display: none;
}

.pagination [aria-current="page"] {
  text-decoration: none;
  color: var(--tw-prose-captions)
}
.pagination li > span:only-child {
  color: var(--tw-prose-captions)
}

h1 {
  font-size: 2rem !important;
}