@counter-style pad-2 {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  pad: 2 "0";
}

.signals {
  max-width: 110ch !important;
}

.signals main {
  font-size: calc(1.25em + 1vw);
}
.signals ol {
  list-style-type: pad-2;
}
.signals ol li {
  font-weight: bold;
}
.signals ol li p {
  font-weight: normal;
  line-height: 1.2;
}
.signals strong {
  font-weight: bold;
}
.signals summary {
  cursor: pointer;
}
.signals summary::marker { content: ""; }
.signals summary::-webkit-details-marker { display: none; }

.signals details summary {
  color: transparent;
}
.signals details summary:hover {
  color: inherit;
}
.signals details[open] summary {
  color: inherit;
}
.signals ol li::marker {
  color: gray;
}
.signals ol li:has(details[open])::marker {
  color: inherit;
}
.signals ol li:has(summary:hover)::marker {
  color: inherit;
}
