<footer class="flex-shrink border-t border-dashed pt-10">
  <div>More to come.</div>
<!-- Subscribe to A Good Enough Newsletter to stay tuned. -->
  <a href="javascript:history.back()" class="no-underline">
    <i>←</i>
    <span class="underline">Back one page</span>
  </a>
  <br>
  <a href="#" class="no-underline">
    <i>↑</i>
    <span class="underline">Back to top</span>
  </a>
  
  <p class="text-sm">© 2015–2023 Stephen Margheim</p>
</footer>