<footer class="flex-shrink border-t border-dashed border-[var(--tw-prose-body)] pt-10">
  <strong class="inline-block mb-2">Like what you’ve read?</strong>

  <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
  <form action="https://app.kit.com/forms/8864509/subscriptions"
        method="post"
        data-sv-form="8864509"
        data-uid="3828f413d7"
        data-format="inline"
        data-version="5"
        data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;,&quot;redirect_url&quot;:&quot;&quot;},&quot;analytics&quot;:{&quot;google&quot;:null,&quot;fathom&quot;:null,&quot;facebook&quot;:null,&quot;segment&quot;:null,&quot;pinterest&quot;:null,&quot;sparkloop&quot;:null,&quot;googletagmanager&quot;:null},&quot;modal&quot;:{&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;powered_by&quot;:{&quot;show&quot;:true,&quot;url&quot;:&quot;https://kit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;slide_in&quot;:{&quot;display_in&quot;:&quot;bottom_right&quot;,&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;sticky_bar&quot;:{&quot;display_in&quot;:&quot;top&quot;,&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15}},&quot;version&quot;:&quot;5&quot;}"
        min-width="400 500 600 700 800">
    <ul data-element="errors"></ul>
    <input type="email" name="email_address" placeholder="Enter your email..." required class="search-input" style="min-width: 50%;">
    <span>and</span>
    <button data-element="submit" style="color: var(--tw-prose-links); font-weight: 500;">
      <span class="underline">Subscribe</span>
      <i>➹</i>
    </button>
  </form>

  <div class="mb-6">
    Or, stay up to date with the
    <a href="/feed.xml" class="group inline-flex gap-1 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="currentColor" aria-hidden="true" viewBox="0 0 448 512" class="text-[var(--tw-prose-body)] group-hover:text-[var(--tw-prose-captions)]">
        <path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/>
      </svg>
      <span>RSS feed</span>
    </a>.
  </div>
  <a href="javascript:history.back()" class="no-underline">
    <i>←</i>
    <span class="underline">Back one page</span>
  </a>
  <br>
  <a href="#" class="no-underline">
    <i>↑</i>
    <span class="underline">Back to top</span>
  </a>
  <div>
    <div class="font-medium text-[var(--tw-prose-links)]">
      <i>↓</i>
      <span>Connect with me</span>
    </div>
    {% render "socials" %}
	</div>

  <p class="text-sm">© 2015–2025 Stephen Margheim</p>
</footer>
